/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
.container {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
}

.header {
    background: rgba(255, 255, 255, .7);
    margin: 1rem auto;
    /* padding: 1rem; */
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
    border-radius: 10rem;
}

h2 {
    margin-left: 2rem;
}

.score, .lives {
    /* border: 1px solid #000; */
    /* padding: .5rem 1rem; */
    padding-left: 0;
    font-size: 3rem;
}

.game-area {
    position: relative;
    height: 40rem;
    border: 1px solid green;
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 2rem;
}

.brick {
    position: absolute;
    top: 0;
    left: 0;
    width: 9.1rem;
    height: 4rem;
    padding: 0.1rem;
    color: #000;
    border: 1px solid whitesmoke;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.game-btn {
    background: lightsalmon;
    border: 1px solid blue;
    width: 50%;
    height: 15rem;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    font-size: 4rem;
    color: #000;
    text-align: center;
    line-height: 14rem;
    /* vertical-align: middle; */
    cursor: pointer;
}

.ball {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: #000;
    border-radius: 2.5rem;
    background-image: url(./ball.png);
    background-size: cover;
    left: 50%;
    bottom: 3.2rem;
    transform: translateX(-50%);
    display: none;
}

.paddle {
    position: absolute;
    background: #ddd;
    height: 2rem;
    width: 10rem;
    border-radius: 2.5rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}