/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
button {
    /* width: 100%; */
    width: 20%;
    padding: 1rem 0;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: none;
    background: #1c87c9;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background: #26a9e0;

}

.container-area {
    /* display: flex; */
    /* flex-direction: row; */
    /* border: 1px solid red; */
    /* display: inline-block; */
    margin: 7rem 1rem;
}

.area1, .area2 {
    /* width: 40%; */
    width: 40rem;
    height: 37rem;
    /* height: 46vh; */
    display: inline-block;
    padding: 20rem;
    /* background: blue; */
    border-radius: 5rem;
    margin-left: 5rem;
}

.area1>div, .area2>div {
    margin-left: 1.5rem;
}

span {
    width: 9rem;
    display: inline-block;
    /* display: flex;
    flex-direction: row wrap; */
    height: 9rem;
    border-radius: 50%;
    /* background: #333; */
    /* background: #000; */
    /* margin: 0.2rem; */
    margin: 1rem;
    /* margin-left: 2rem; */

}