/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    /* max-width: 90rem; */
    /* margin: 0 auto;
    padding: 0 2rem; */
}

/* ======================================================================= */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: block; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    /* padding: 0; */
    /* margin: 1rem auto; */
}

.output {
    background: dodgerblue;
    height: 50rem;
    width: 50rem;
    border: 1px solid green;
    overflow: hidden;
    cursor: grab;
}

h2 {
    display: inline-block;
}

.message {
    background: gold;
    font-size: 1.6rem;
    color: #000;
    width: 50rem;
    /* text-align: center; */
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 0 0.5rem 1.5rem;
}

span {
    /* border: 1px solid #000; */
    /* padding: 1rem; */
    font-size: 2.5rem;
    padding-left: .5rem;
    margin-right: 2rem;
    /* margin-left: 2rem; */
}

.box {
    position: relative;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    border-radius: 1.5rem;
    border: 1px solid #000;
}