/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}

.output {
    border: 1px solid whitesmoke;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.message {
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
    /* color: #000; */
    background: rgba(255, 255, 255, .25);
}

label {
    /* border: 1px solid #000; */
    padding: 1rem;
    margin: 1rem .5rem;
    display: inline-block;
    color: #000;
    background: lightsteelblue;
    border-radius: .5rem;
    font-size: 2rem;
    margin-right: 0;
}

input {
    border: none;
    border: 1px solid #cbc9c9;
    padding: 1rem 1rem;
    background: whitesmoke;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

button {
    /* width: 20%; */
    /* display: block; */
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: none;
    background: #1c87c9;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

button:hover {
    background: #26a9e0;
    /* background: #85d890; */

}